  <main class="main-content">
        <div class="container">
          <div class="page">
            <div class="content">
              <div class="row">
                <div class="col-md-4">
                  <h2>Login</h2>
                  
              <%= render 'login' %>
<!-- 
                  <div class="contact-form">
                    <input type="text" class="name" placeholder="name...">
                    <input type="text" class="email" placeholder="email...">
                    <input type="text" class="website" placeholder="website...">
                    <textarea class="message" placeholder="message..."></textarea>
                    <input type="submit" value="Send Message ">

                  </div> -->
                </div>
                <div class="col-md-7 col-md-offset-1">
               

<%= render 'layouts/flash_message' %>

                </div>
              </div>
            </div>
          </div>
        </div> <!-- .container -->
      </main>
