<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user_to_email.firstname if @user_to_email %></h1>
    <p>
      You are a goner.. you are dead to us..
    </p>
  </body>
</html>